<div class="row">
    <div class="col">
        <!--SITE TITLE-->
        <h1 class="px-3 py-4 text-uppercase mtitle"><a class="text-dark" href="/">Inhabitant</a></h1>

        <!--SITE MAIN MENU LINKS-->
        <div class="pos-f-t fixed-top">
            <div class="collapse manimate pb-0" id="navbarToggleExternalContent">

                <div class="bg-dark">
                    <h5 class="text-info py-2 text-center">Main Menu</h5>
                    <hr class="bg-success">
                    <ul class="navbar-nav ml-auto px-2 px-lg-0 pb-2 text-lg-center">
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Photography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Paintings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Woodworking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">View Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
            <nav class="navbar navbar-dark mhamberger d-flex align-items-end flex-column">
                <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="bg-dark my-3 px-2 text-center rounded">
                    <p class="p-0 m-0"><a class="position-relative text-light" href="#">Cart <span class="text-warning pl-2">10</span></a></p>
                </div>
            </nav>
        </div>
    </div>
</div>
