<div class="row">
    <div class="col">

        <h1 class="text-dark px-3 py-4 text-uppercase mtitle">Inhabitant</h1>

        <div class="pos-f-t fixed-top">
            <div class="collapse manimate pb-0" id="navbarToggleExternalContent">

                <div class="bg-dark">
                    <h5 class="text-info py-2 text-center">Main Menu</h5>
                    <hr class="bg-success">
                    <ul class="navbar-nav ml-auto px-2 px-lg-0 pb-2 text-lg-center">
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
            <nav class="navbar navbar-dark d-flex flex-row-reverse mhamberger">
                <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>
</div>
