<!DOCTYPE html>
<html lang="en" class="inhabitant <%= htmlWebpackPlugin.options.mLayoutType %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.mViewPort %>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200, 300,400|M+PLUS+1p:500,700|Secular+One&display=swap">
    <title>
        Inhabitant |
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <!--SCROLL TOP-->
    <button class="btn btn-success scroll-top-btn" title="Scroll Up">Top</button>

    <!--BEGIN HEADER-->
  